/* CSS for room settings icon on the computer */
.gear-container {
    width: 40px;
    height: 40px;
    background: tan;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s;

  }
  
.gear {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
  
/* Rotation animation */
.gear-container:hover .gear {
  transform: rotate(180deg);
}
  
/* Container hover effect */
.gear-container:hover {
  background: #d2b48c; /* Darker tan */
  scale: 1.1;
}

/* CSS for invite icon on the computer */
.invite-icon {
  width: 40px;
  height: 40px;
  background: tan;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.invite-icon:hover {
  background: #d2b48c; /* Darker tan */
  scale: 1.1;
}

.vertical-plus-line {
  width: 5px;
  height: 20px;
  background: white;
  border-radius: 2px;
  position: relative;
  left: 25%;
}

.horizontal-plus-line {
  width: 20px;
  height: 5px;
  background: white;
  border-radius: 2px;
  position: relative;
  top: -5%;
  left: 20%;
  transform: translate(-50%, 50%);
}


.invite-icon:hover .horizontal-plus-line {
  background-color: rgb(170, 169, 169);
  scale: 1.1;
}

.invite-icon:hover .vertical-plus-line {
  background-color: rgb(170, 169, 169);
  scale: 1.1;
}

/* CSS for bills icon on the computer */
.bill-icon {
  width: 40px;
  height: 40px;
  background: tan;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.bill-icon:hover {
  background: #d2b48c; /* Darker tan */
  scale: 1.1;
}

.vertical-dollar-line {
  width: 5%;
  height: 55%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.dollar-s {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.bill-icon:hover .vertical-dollar-line {
  background-color: rgb(170, 169, 169);
  scale: 1.1;
}

.bill-icon:hover .dollar-s {
  color: rgb(170, 169, 169);
}
