.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow: hidden; 
}

.card {
  border-radius: 10px;
  padding: 40px 100px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #bc9974;
}

.groceryTitleDescription {
  font-size: 1rem;
  margin-bottom: 30px;
  opacity: 0.9;
  color: #ddd;
}

.inputBox {
  width: 80%;
  padding: 5px !important;
  margin: 10px 0;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.Button {
  background-color: #bc9974;
  color: #fff;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 11.5px;
}

.Button:hover {
  background-color: #a67c52;
}

.groceryList {
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  list-style: none;
  max-width: 100%;
}

.groceryItem {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.groceryItemContent {
  display: flex;
  align-items: center;
}

.quantityText {
  margin-left: 5px;
}

.quantityBox {
  width: 20% !important;
  padding: 5px !important;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

.groceryItemButtons {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.editButton {
  display: none;
  background-color: #bc9974;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.removeButton {
  display: none;
  background-color: #bc9974;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.groceryItem:hover .editButton,
.groceryItem:hover .removeButton {
  display: inline-block;
}

.removeButton:hover {
  background-color: #a67c52;
}

.editButton:hover {
  background-color: #a67c52;
}

.editContainer {
  display: flex;
  gap: 10px;
  margin-right: 120px; /* Added margin to prevent overlap with buttons */
}

.editInput {
  width: 80%;
  padding: 5px !important;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.editQuantityInput {
  width: 40% !important;
  height: 20% !important;
  padding: 5px !important;
  margin: 8px;
}

.saveButton {
  background-color: #2ecc71;
}

.saveButton:hover {
  background-color: #27ae60;
}

.cancelButton {
  background-color: #e74c3c;
}

.cancelButton:hover {
  background-color: #c0392b;
}

.saveButton,
.cancelButton {
  padding: 4px 10px;
  font-size: 0.8rem;
}

.purchaseButton {
  position: absolute;
  left: -30px;
  top: 25%;
  transform: translateY(10%);
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #bc9974;
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  box-sizing: border-box;
}

.checkmark {
  font-size: 2.2rem;
  color: #bc9974;
  position: relative;
  top: -5px;
}

/* New style for the insert box */
.insertBox {
  position: absolute;
  left: 100%;
  width: 50px !important;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 5px;
}
