.bulletinContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align the content to the left */
    gap: 15px;
    width: 1200px;
    height: 600px;
    padding-left: 30px; /* Adds padding to push the content left */
}

.bulletinPopupContainer {
    background: rgba(0, 0, 0, 0.7) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align the content to the left */
    height: 100vh !important;
    width: 100vw !important;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 2000 !important; /* Ensure it's above everything */
    gap: 15px;
    padding-left: 30px;  /* Optional: Adds padding to move it further left */
}

.bulletinPopupContent {
    background: #333 !important;
    width: 350px;
    height: 250px;
    min-height: 250px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulletin {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.board {
    width: 1200px;
    height: 600px;
    justify-self: center;
    align-self: center;
    display: flex;
}

.frame {
    width: 80%;
    height: 80%;
    background-color: #5c3939;
}

.content {
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    background-color: #8b6b4f;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}

/* Remove unnecessary styling from modal */
.modal {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;

}


/* Quiet hours logo css */
.quietHours {
    width: 30%;
    height: 70%;
    margin-left: 100px; /* Align to the left */
}

.quietHours:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Room Clauses element */
.room-clauses {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    padding-left: 20px; /* Add padding to ensure content is aligned properly */
    font-size: 16px;
    color: #fff;
}