.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #bc9974, #f7e4d2);
  box-sizing: border-box;
}

.quietHours {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.quietHours h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #bc9974;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 25px;
  background-color: rgba(40, 38, 38, 0.8);
  border-radius: 8px;
}

.form h2 {
  color: white; /* Change text color to white */
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup label {
  font-weight: bold;
  color: white;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.addLevelContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customLevelInput {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 150px;
}

.addLevelButton {
  padding: 5px 10px;
  background-color: #bc9974;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.addLevelButton:hover {
  background-color: #a67c52;
}

.timeFormatContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.timeFormatButton {
  padding: 10px 20px;
  background-color: #f7e4d2;
  color: black;
  border: 2px solid #bc9974;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.timeFormatButton.active {
  background-color: #bc9974;
  color: white;
}

.timeFormatButton:hover {
  background-color: #a67c52;
}

.submitButton {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.submitButton:hover {
  background-color: #0056b3;
}
