.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #bc9974, #f7e4d2);
    box-sizing: border-box;
  }
  
  h2 {
    color: #8f64f4;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .rulesList {
    width: 80%;
    max-width: 600px;
    background: #171616;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .ruleItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .removeButton {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .removeButton:hover {
    background-color: darkred;
  }
  
  .formGroup {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .addButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  