.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh; /* Ensures it covers the whole viewport height */
  background: linear-gradient(to right, #bc9974, #f7e4d2);
}

h1 {
  margin-bottom: 20px;
}

.voteContainer {
  width: 100%;
  max-width: 800px; /* Adjusted max width */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for 3x2 grid */
  gap: 20px;
}

.voteOption {
  position: relative; /* Needed for absolute positioning of the voting icon */
}

.voteButton {
  width: 100%;
  padding: 15px;
  font-size: 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.voteButton:hover {
  background-color: #f0f0f0;
}

.votingIcon {
  position: absolute;
  bottom: 5px; /* Adjust the position of the icon */
  left: 5px;
  width: 20px;  /* Adjust size of the icon */
  height: auto;
}

p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
